<div class='container-fluid fondoDos'>


    <h1 class="colorTitulos">{{tituloEncuestaUno}}</h1>

    <div class=colorParrafos>

        <p>De conformidad con lo previsto en la Ley Estatutaria 1581 de 2012, y sus decretos reglamentarios 
            1377 de 2013, y 1074 del 2015, se informa al titular que los datos consignados en el presente formulario serán
             incorporados en una base de datos,
               responsabilidad de La Fundación Universitaria de San Gil – UNISANGIL como Institución de Educación Superior,
                identificada con NIT. 800.152.840-4, siendo tratados con fines académicos e investigativos,
                 y en general para las actividades que se enmarquen dentro del objeto social 
                 y estatutos de la Universidad de conformidad con la política de tratamiento de protección de datos a la cual 
                 tendrá acceso en la página web www.unisangil.edu.co.
                  Usted puede ejercer los derechos de acceso, corrección, supresión,
                   revocación o reclamo por infracción sobre sus datos, mediante escrito dirigido a datospersonales@unisangil.edu.co y con gusto será atendido.                                              Consiento y autorizo que mis datos personales sean tratados conforme a lo previsto en esta autorización.</p>
 </div>
    
    
    <div>

        <button  class="myButtonSig" (click)="clickSiguiente()" >Comenzar</button> <br><br>
        <button  class="myButtonBack" (click)="clickAnterior()" >Anterior</button> <br>
    </div>
    
    </div>