<h1>Riesgo Diabetes </h1><br>
<h1>Riesgo CardioVascular</h1>

<br>
      <section>
        <p>Para medir la circunferencia de cintura, utilizar una cinta métrica. <p>

        
           <p> Para la medición:</p>
        <ol start="a">   
           <li>Descubrir el abdomen. No realizarla sobre la ropa sino sobre la piel.</li> 
           <li> Colocar la cinta métrica alrededor del abdomen, a nivel donde se nota la estrechez natural de la  cintura, que es el punto medio entre el reborde de la última costilla y la cresta ilíaca o hueso de la  cadera, aproximadamente a nivel del ombligo.</li>
            
            <li> Respirar normal o hablar (no sostener la respiración).</li>
             
            <li> Registrar el dato al 1 cm más cercano, sosteniendo firme la cinta métrica sin hacer presión excesiva.</li>

        </ol>
            <p>

            Escribir la cifra en centímetros. Nótese que es un número entero, sin decimales.
             Ejemplos: si la cifra es  94,3 centímetros, anote 94; si la medición dio 105,8 centímetros, anote 106.

            </p>
            <br><br>

            <div class="form-group">
                <label for="perAbdominal">Perímetro abdominal</label>
                <input type="number" autocomplete="off" class="form-control" id="perAbdominal" name="perAbdominal" [(ngModel)]=" perAbdominal">
            </div>
    </section>



