<div class="container text-center">
    <h1>Resultados</h1>
    <div class="row">
        <div class="col">
            <h1>IMC</h1>
            <p>{{imcMostrar}}</p>


            <app-imagen-imc></app-imagen-imc>
            <div class=row>
                <div class="col">
                    <h1>Peso</h1>
                    <p>{{pesoMostrar}} Kg</p>
                </div>

                <div class="col">

                    <h1>Estatura</h1>
                    <p>{{estatura}} Mts</p>
                </div>
            </div>

            <p>{{descripcion}}</p>

            <div class="ajustar-contenido ">

                <button  class="myButtonSig" (click)="clickSiguiente()" >Siguiente Apartado</button> <br><br>
            <!--<button  class="myButtonBack" (click)="clickAnterior()" >Anterior</button>--> <br>
            </div>
        </div>
    </div>

</div>

