<h1>Resultados</h1>
<h2>IMC</h2>
<p>{{imcMostrar}}</p>

<p>"mostrar imagen segun peso</p>

<p>{{resultadoServicio.accesoFacturacion}}</p>


<div>
    <h2>Peso</h2>
    <h2>Estatura</h2>

</div>

<p>Descripcion segun resultado </p>

<div class="ajustar-contenido ">

    <button mat-flat-button class="button is-medium is-link is-rounded is-focused block" (click)="clickSiguiente()" >Siguiente Apartado</button> <br>
    <button mat-flat-button class="boton-azul color-texto" (click)="clickAnterior()" >Anterior</button> <br>
</div>

