<div class="contenido container-fluid" >
    <br>
   
    <h1>{{titulo}}</h1>
    <br>






    <div>

        <button class="btn btn-primary" (click)="clickSiguiente()" >Realizar Encuesta</button> <br>
        <button class="btn btn-primary" > Consultar Historico Encuesta</button> <br>
        <button class="btn btn-primary" > Consultar Resultado Encuesta</button> <br>
        <button class="button is-medium is-dark is-rounded is-focused block" > Anterior</button> <br>
    </div>

</div>





