<div class="container-fluid fondo text-center">
    <div class=row-xs>
        <div class=col-xs>
            <br>

            <h1>{{titulo}}</h1>
            <br>
            <div>
                <button class="myButtonMain" (click)="clickSiguiente()">Realizar Encuesta</button> <br><br><br>
                <button class="myButtonMain"  > Consultar Historico Encuesta</button> <br><br><br>
                <button class="myButtonMain"> Consultar Resultado Encuesta</button> <br><br><br>
                <button class="myButtonBack"> Anterior</button> <br><br><br>

            </div>
        </div>
    </div> 

</div>





