<div class="contenido">
    <br>
   
    <h1>{{titulo}}</h1>
    <br>




    <div>

        <button class="button is-medium is-link is-rounded is-focused block" (click)="clickSiguiente()" >Realizar Encuesta</button> <br>
        <button class="button is-medium is-link is-rounded is-focused block" > Consultar Historico Encuesta</button> <br>
        <button class="button is-medium is-link is-rounded is-focused block" > Consultar Resultado Encuesta</button> <br>
        <button class="button is-medium is-dark is-rounded is-focused block" > Anterior</button> <br>
    </div>

</div>





