/* You can add global styles to this file, and also import other style files /////////////////////////////////////////*/

@import url(bulma/css/bulma.css);


body { 
  
    font-family: 'Titillium Web', sans-serif; }




h1{
font-family: Titillium, 'Titillium Web', sans-serif  ;
font-weight: 700;
font-size: 2rem;

}

h2{
	font-family: Titillium, 'Titillium Web', sans-serif  ;
	font-weight: 700;
	font-size: 2rem;
  }



.colorTitulos{
	color: white;
}

.colorTituloPrincipal{
	color: white;

}

.colorParrafos{
	color: #1c1c1c;

}

/* Boton principal/////////////////////////////////////// /////////////////////////////////////////*/

.myButtonMain {
	box-shadow: 0px 0px 0px 0px #303e4f;
	background-color:#74aeff;
	border-radius:28px;
	border:0px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Titillium, 'Titillium Web', sans-serif;
	font-size:15px;
	padding:14px 59px;
	text-decoration:none;
  text-shadow:0px 1px 0px #4e6f99;
  
}
.myButtonMain:hover {
	background-color:#6292d1;
}
.myButtonMain:active {
	position:relative;
	top:1px;
}

/* Boton atras ///////////////////////////////////////////////////// /////////////////////////////////////////*/
.myButtonBack {
	box-shadow: 0px 0px 0px 0px #303e4f;
	background-color:#AFAEAD;
	border-radius:28px;
	border:0px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Titillium, 'Titillium Web', sans-serif;
	font-size:17px;
	padding:16px 59px;
	text-decoration:none;
  text-shadow:0px 1px 0px #4e6f99;
  
}
.myButtonBack:hover {
	background-color:#6292d1;
}
.myButtonBack:active {
	position:relative;
	top:1px;
}

/* Boton siguiente naranja/////////////////////////////////////// /////////////////////////////////////////*/

.myButtonSig {
	box-shadow: 0px 0px 0px 0px #A97134;
	background-color:#FBA74D;
	border-radius:28px;
	border:0px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Titillium, 'Titillium Web', sans-serif;
	font-size:17px;
	padding:16px 59px;
	text-decoration:none;
  text-shadow:0px 1px 0px #4e6f99;
  
}
.myButtonBack:hover {
	background-color:#6292d1;
}
.myButtonBack:active {
	position:relative;
	top:1px;
}


/* fondo uno color superior /////////////////////////////////////// /////////////////////////////////////////*/
.fondo{
  background-image: url("assets/ilustraciones/trazadoCero.svg");
  background-size:cover;
  background-attachment: fixed;


}


/* fondo dos color inferior /////////////////////////////////////// /////////////////////////////////////////*/
.fondoDos{
	background-image: url("assets/ilustraciones/trazadoCero.svg");
	background-size:cover;
	background-attachment: fixed;

  }




