/* You can add global styles to this file, and also import other style files */

@import url(bulma/css/bulma.css);

body { margin: 0; 
  
    font-family: 'Titillium Web', sans-serif; }



.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

h1{
font-family: Titillium, 'Titillium Web', sans-serif  ;
font-weight: 700;
font-size: 2rem;
}

h2{
  font-family: Titillium, 'Titillium Web', sans-serif  ;
  font-weight: 700;
  font-size: 2rem;
}

.contenido{

    width: 20rem;
    margin: 0 auto;


}



