<div class="container-fluid fondoDos text-center">
    <h1>Resultados </h1>
    <div>
        <h2>Riesgo Diabetes</h2>
        <h3>Puntaje</h3>
        <p>{{PuntajeMuestra}}</p>

        <h3>Nivel de Riesgo</h3>
        <p>{{nivelRiesgoDiabetesMuestra}}</p>
        <p>{{descripcionDiabetesMuestra}}</p>
    </div>

    <div>
        <h2>Riesgo Cardiovascular</h2>
        <h3>Porcentaje: {{riesgoCardioPorcentajeMuestra}}</h3>
        <p>nivel de riesgo</p>
    </div>

    <div class="ajustar-contenido">

        <button class="myButtonSig" (click)="finalEncuesta()">Finalizar</button> <br><br>
        <button class="myButtonBack" (click)="clickAnterior()">Anterior</button> <br>
    </div>
</div>
    






