<div class="container-fluid fondoDos text-center">
    <h1>Resultados </h1>
    <div>
        <!--
        <h1 class = "colorTituloPrincipal">{{  }}</h1>
        -->
        <h1>Riesgo Diabetes</h1>
        <h1>Puntaje</h1>
        <p>{{PuntajeMuestra}}</p>

        <h1>Nivel de Riesgo</h1>
        <p>{{nivelRiesgoDiabetesMuestra}}</p>
        <p>{{descripcionDiabetesMuestra}}</p>
    </div>

    <div>
        <h1>Riesgo Cardiovascular</h1>
        <h1>Porcentaje: {{riesgoCardioPorcentajeMuestra}}</h1>
        <h1>Nivel de Riesgo</h1> 
        <p>{{descripcionNivelRiesgoCardio}}</p>
    </div>

    <div class="ajustar-contenido">

        <button type="button" class="myButtonSig" (click)="finalEncuesta()">Finalizar</button> <br><br>
       <!-- <button type="button" class="myButtonBack" (click)="clickAnterior()">Anterior</button> --><br>
    </div>
</div>
    






